<div class="login-form">
  <mat-card>
      <mat-card-content>
    <h1>Ingresar contraseña</h1>
    <h3>{{user.username}}</h3>
    <form [formGroup]="Nwform" (ngSubmit)="onNwpass()">
     <mat-form-field class="full-width-input">
      <input [type]="hide ? 'password' : 'text'" type="password" formControlName="password" matInput placeholder="Contraseña">
      <button mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
       <mat-error *ngIf="checkField('password')">
         {{errorMessage}}
       </mat-error>
     </mat-form-field>
     <mat-form-field class="full-width-input separator">
      <input [type]="hide ? 'password' : 'text'" type="password" formControlName="passwordConfirm" matInput placeholder="Confirmar contraseña">
      <button mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="checkField('passwordConfirm')">
        {{errorMessage}}
      </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Confirmar</button>
   </form>
      </mat-card-content>

  </mat-card>
</div>

