mat-card{
  margin: auto auto;
  margin-top: 2%;
  @media(max-width:700px){
    width: 100%;
  }
  @media(min-width:700px){

    width: 60%;
  }
}

mat-card-content{
  @media(max-width:750px){
    margin-bottom: 10%;
  }
}

.separar{
  margin-bottom: 2%;
}
