    <mat-toolbar-row>
      <ng-container *ngIf="isAdmin=='admin'">
      <a mat-list-item class="nav-link" routerLink="/home"><button mat-button>Inicio</button></a>
      <a mat-list-item class="nav-link" routerLink="/reportes"><button mat-button>Reportes</button></a>
      <a mat-list-item class="nav-link" routerLink="/home/panel"><button mat-button>Panel de control</button></a>
    </ng-container>
    <ng-container *ngIf="isAdmin=='referente'">
      <a mat-list-item class="nav-link" routerLink="/reportes/por-referente"><button mat-button>Reportes</button></a>
    </ng-container>
    <ng-container *ngIf="isAdmin=='operador'">
      <a mat-list-item class="nav-link" routerLink="/home/panel"><button mat-button>Panel de control</button></a>
    </ng-container>
    <ng-container *ngIf="isAdmin=='fiscal referente'">

      <a mat-list-item class="nav-link" routerLink="/reportes/por-referente"><button mat-button>Reportes</button></a>
    </ng-container>
    <ng-container *ngIf="isAdmin=='fiscal'">

    </ng-container>
    <span class="example-spacer"></span>
    <span class="user" style="text-transform: uppercase;" *ngIf="nombre_completo">{{nombre_completo}} | {{role}}</span>
    <span class="user" style="text-transform: uppercase;" *ngIf="!nombre_completo">{{role}}</span>
      <span class="example-spacer"></span>
      <a *ngIf="isLogged" href="/login" (click)="onLogout()">
        <button mat-button>Salir</button>
      </a>
  </mat-toolbar-row>

